/*React-leaflet styles*/
#mapid { height: 180px; }

.leaflet-container {
  height: 650px;
  width: 100%;
}

/*button colors*/

.btn {
  background-color:#67C3CD;
  border: 2px solid #000;
  color: rgb(27, 37, 18);
  padding: 14px 28px;
  text-align: center;
  font-size: 17px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius:40% 0;
  width: 150px;
  height: 58px;
}

.btn:hover {
  background-color:#F3BB33;
  color: #fff;
}

 #root {
  height: 100%;
 }


/*it is for Gallery page*/
#photo_title {
 font-family: 'billabong', 'billabongregular';
 text-align: center;
 font-size: 8rem;
 font-weight: 80;
 margin:2rem 0;
 letter-spacing: -1;
 color:rgb(4, 7, 41);
}


/*style for media hr*/
hr {
  border: 5px solid #52627F;
  border-radius: 5px;
}

@font-face {
  font-family: 'billabongregular';
  src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
  src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
  url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
  url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.photoGrid{
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}


.figure {  
  flex-basis: calc(25.333% - 4rem);
  border: 1px solid #99a9a6;
  padding: 2rem;
  flex-grow: 1;
  margin: 0rem 2rem 2rem 2rem;
  box-shadow: 0px 10px 10px #b2d0d5;
  border-radius: 25px;
  font-size: 16px;
  height: 450px;
}

.photo{
  width: calc(100% + 4rem);
  margin: -2rem 0rem 0rem -2rem;
  box-shadow: 2px 2px 2px #b2d0d5;
  height: 200px;
}

/*Media @*/

@media screen and (max-width: 992px) {  
.leaflet-container {
    height: 500px;
    width: 100%;
}

.media1{
  width: 800px;
  font-size: 16px;
}

#photo_title{
  font-size: 32px;
}

#header_icon {
  width: 300px;
}
}



@media screen and (max-width: 600px) {  
.leaflet-container {
    height: 400px;
    width: 100%;
    overflow:scroll;
}

.media1{
  width: 500px;
  font-size: 14px;
}

#photo_title{
  font-size: 30px;
}

#header_icon {
  width: 150px;
}
}


@media screen and (max-width: 480px) {
 .leaflet-container {
    height: 400px;
    width: 100%;
    overflow:scroll;
}

.media1{
  width: 300px;
  font-size: 14px;
}

#photo_title{
  font-size: 26px;
}

#header_icon {
  width: 100px;
}
}