@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

html {
  box-sizing: border-box;
    
}

html,
body {
  height: 100%; 
}

body {

    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #000;
    font-size: 1.5rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;   
   
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;  
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000;
    margin: 0;
}

p {
    line-height: 1.6;
}

a,
a:visited,
a:active,
a:hover {
    color: inherit;
    text-decoration: none;
}
