@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

html {
  box-sizing: border-box;
 /* font-size: 62.5%;*/
}

html,
body {
  height: 100%; 
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 1.5rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

#mapid {
    height: 180px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #333;
    margin: 0;
}

p {
    line-height: 1.6;
}

a,
a:visited,
a:active,
a:hover {
    color: inherit;
    text-decoration: none;
}

.app-header {
  width: 100%;
  background: #138086;
  display: flex;
  align-items: center;
}

.app {
  height: 100vh;
}

/*leaflet map */

.leaflet-container {
       
    height: 800px;
    width: 1000px;
}


@media screen and (max-width: 992px) {
  .leaflet-container {       
    height: 400px;
    width: 600px;
   }

.image {
    width: 100%;
}
}


@media screen and (max-width: 600px) {
 .leaflet-container {         
    height: 400px;
    width: 400px;
    border: 2px coral solid;
}

.image {
    width: 100%;
}
}



svg {
  width: 70px;
  height: 70px;
}

svg:hover {
    fill: coral;
}
.app-header {
    width: 100%;
    height: 10rem;
    background: rgba(196, 196, 196, 0.2);
    display: flex;
    align-items: center;
    padding: 0 4rem;
}

#mapid { height: 180px; }


/*base map*/

.basemaps-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  height: auto;
  width: auto;
  border-radius: 4px;
  background-color: #fff;
}

.basemaps-container select {
  width: 200px;
  height: 20px;
}


/*button colors*/

.btn {
  background-color: pink;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  transition: 0.3s;
   border-radius:40% 0;
}

.btn:hover {
  background-color: rgb(233, 211, 16);
  color: white;
}

/*button bisycle*/

#flex_button{
 display:flex;
}
.btn_button{
  padding: 40px;
 
 flex-direction: row;

}

.box_button {
 
  background-color: #ff7890 ;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0 0 #d3ad06;
  transition: all ease-in 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 2rem;
  transform: rotate(45deg) scale(2);
}
.box_button:hover {
  transition: all ease-in 0.3s;
  box-shadow: 4px 4px 0px  #e5e903 ;
}
.box_button .fas {
  transform: rotate(-45deg);
  color: rgb(36, 40, 65);
  margin: 0 auto;
}

.leaflet-marker-icon {
    content : url('./img/tent.png');

}